{% extends 'base.html' %}

{% block content %}
<h1>  Customer Records : </h1>
<div class="card">
    <div class="card-header">
        <h3><strong>
        {{ customer_record.first_name }}
        {{ customer_record.last_name }}
        </strong> </h3>    
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p> <strong>Email: </strong>{{ customer_record.email }}<br/>
            <strong>Phone number:</strong>{{ customer_record.phone_number }}<br/>
            <strong>Address: </strong>{{ customer_record.address }}<br/>
            <strong>City: </strong>{{ customer_record.city }}<br/>
            <strong>Zipcode: </strong>{{ customer_record.zipcode }}<br/>
            <strong>Created_at: </strong>{{ customer_record.created_at }}<br/></p>
      </blockquote>
    </div>
  </div>

  <a href="{% url 'home' %}"class="btn btn-secondary">Back</a>
  <a href="{% url 'delete_record' customer_record.id %}"class="btn btn-danger">Delete</a>
  <a href="{% url 'update_record' customer_record.id %}"class="btn btn-secondary">Update</a> 

{% endblock %}